body {
    background-color: rgba(207, 203, 203, 0.61);
    font-family: 'Segoe UI';
}

h1 {
    font-size: 40px;
    color: rgb(16, 16, 112); 
    text-align: center;
}

#p1 {
    font-style: italic;
    border: red 5px dotted
}
