body {
    margin: 20px;
}

#formContainer {
    padding: 20px;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.label-form {
    font-weight: bold;
    float: left;
    width: 100px;
    padding-right: 30px;
}

.container-button {
    text-align: center;
}

.send-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
}

.send-button:hover {
    cursor: pointer;
    background-color:cornflowerblue;
}